@font-face {
    font-weight: normal;
    font-family: Neucha;
    src: url("../font/Neucha-Regular.ttf");
}

@font-face {
    font-weight: normal;
    font-family: OpenSans;
    src: url("../font/OpenSans-Regular.ttf");
}
body {
    position: relative;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}
h1 {
    font-family: Neucha;
    line-height: 1.2em;
    font-size: 72px;
}
h2 {
    line-height: 1.2em;
    font-size: 60px;
    font-family: Neucha;
}
h3 {
    line-height: 1.2em;
    font-size: 34px;
    font-family: Neucha;
}
header,main,section,footer {
    margin: auto;
    max-width: 1440px;
}
header {
    position: relative;
    width: 1440px;
    height: 914px;
    background: #F5F4F0;
    background-image: url("../img/background-pattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}
.header-h1 {
    width: 1138px;
    height: 258px;
    padding-left: 165px;
    padding-top: 100px;
    margin: 0;
    color: #FE8A02;  
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;  
}
.header-h1-br {
    color: #2A2626;
}
.tota-head {
    position: absolute;
    height: 525px;
    width: 1083px;
    top: 55px;
    right: -150px;
}
.text-header1 {
    position: absolute;
    width: 540px;
    height: 141px;
    left: 165px;
    top: 543px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2A2626;
}
.text-header2 {
    position: absolute;
    width: 540px;
    height: 186px;
    left: 735px;
    top: 539px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2A2626;
}
.link-header {
    position: absolute;
    width: 148px;
    height: 49px;
    left: 735px;
    top: 765px;
    background: #FE8A02;
    text-decoration: none;
}
.link-header:hover {
    background: #EA7600;    
}
.btn-head {
    margin: 0;
    position: absolute;
    width: 101px;
    height: 26px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 24px;
    padding-top: 11px;
}
main {
    height: 1805px;
}
.main-video {
    position: relative;
    width: 1440px;
    height: 914px;
    background: linear-gradient( #FFFFFF,#FFFFFF 814px, #42413C 814px,#42413C);
}
.main-h2 {
    position: absolute;
    margin: 0;
    width: 1110px;
    height: 146px;
    left: 165px;
    top: 100px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #2A2626;
}
.main-h2-br {
    color: #FE8A02;
}
.text-main {
    position: absolute;
    margin: 0;
    width: 1110px;
    height: 26px;
    left: 165px;
    top: 273px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #212529;
}
.video {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 261px;
    top: 329px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.main-info {
    position: relative;
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 891px;
    top: -16px;
    background: #42413C;
}
.info-h2 {
    position: absolute;
    margin: 0;
    width: 350px;
    height: 323px;
    left: 165px;
    top: 100px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    color: #FE8A02;
}
.h2-span {
    color: #FFFFFF;
}
li {
    position: absolute;
    margin: 0;
    width: 350px;
    height: 323px;
    background: #F5F4F0;
    list-style-type: none;
}
li:hover {
    background: #FE8A02;
}
li:hover * {
    color: #FFFFFF;
}
.list-1 {
    left: 545px;
    top: 100px;
}
.list-2 {
    left: 925px;
    top: 100px;    
}
.list-3 {
    left: 165px;
    top: 443px;    
}
.list-4 {
    left: 545px;
    top: 443px;    
}
.list-5 {
    left: 925px;
    top: 443px;    
}
.list-h2 {
    position: absolute;
    width: 23px;
    height: 64px;
    left: calc(50% - 23px/2 - 139.5px);
    top: -40px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #42413C;
}
.list-h3 {
    position: absolute;
    width: 302px;
    height: 41px;
    left: calc(50% - 302px/2);
    top: 70px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color: #FE8A02;
    
}
.list-text {
    position: absolute;
    width: 302px;
    height: 103px;
    left: calc(50% - 302px/2);
    top: 145px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2A2626;
}
.list-text1 {
    position: absolute;
    width: 302px;
    height: 103px;
    left: calc(50% - 302px/2);
    top: 185px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2A2626;    
}
.ikea {
    position: relative;
    width: 1440px;
    height: 905px;
    background: #F5F4F0;
    background-image: url("../img/background-pattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}
.first-part {
    position: absolute;
    column-count: 2;
    column-gap: 30px;
    width: 1110px;
    height: 435px;
    top: 100px;
    left: 165px;
}
.ikea-img {
    width: 578px;
    height: 434px;
    vertical-align: middle;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}
.ikea-text1 {
    margin: 0;
    width: 502px;
    height: 29px;
    padding-left: 40px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #908D8B;
    
}
.ikea-header {
    margin: 0;
    width: 502px;
    height: 72px;
    padding-left: 40px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #2A2626;
}
.ikea-text2 {
    margin: 0;
    width: 502px;
    height: 120px;
    padding-left: 40px;
    padding-top: 30px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: #2A2626;
}
.second-part {
    position: absolute;
    width: 1110px;
    height: 176px;
    left: 165px;
    top: 634px;
    column-count: 2;
    column-gap: 30px;    
}
.ikea-header-mini {
    position: absolute;
    width: 1110px;
    height: 26px;
    background: #B09A81;
    column-span: all;
}
.ikea-head-info {
    position: absolute;
    margin: 0;
    width: 136px;
    height: 16px;
    left: 10px;
    top: 5px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    column-span: all;    
}
.ikea-info-text1 {
    margin: 0;
    width: 540px;
    height: 125px;
    padding-top: 46px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2A2626;    
}
.ikea-info-text2 {
    margin: 0;
    width: 540px;
    height: 125px;
    padding-top: 46px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2A2626;    
}
.optimization {
    position: relative;
    width: 1440px;
    height: 855px;
    background: #B09A81;
    background-image: url("../img/background-pattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}
.first-part1 {
    position: absolute;
    column-count: 2;
    width: 1045px;
    height: 435px;
    top: 100px;
    left: 165px;
}
.optimization-text1 {
    margin: 0;
    width: 502px;
    height: 29px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #D7CCC0;
    
}
.optimization-header {
    margin: 0;
    width: 502px;
    height: 144px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #FFFFFF;
}
.optimization-text2 {
    margin: 0;
    width: 502px;
    height: 123px;
    padding-top: 30px;
    font-family: Neucha;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
}
.optimization-img {
    width: 578px;
    height: 434px;
    vertical-align: middle;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}
.second-part1 {
    position: absolute;
    width: 1110px;
    height: 130px;
    left: 165px;
    top: 634px;
    column-count: 2;
    column-gap: 30px;    
}
.optimization-header-mini {
    position: absolute;
    width: 1110px;
    height: 26px;
    background: #FFFFFF;
    column-span: all;
}
.optimization-head-info {
    position: absolute;
    margin: 0;
    width: 136px;
    height: 16px;
    left: 10px;
    top: 5px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #B09A81;
    column-span: all;    
}
.optimization-info-text1 {
    margin: 0;
    width: 540px;
    height: 75px;
    padding-top: 46px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;   
}
.optimization-info-text2 {
    margin: 0;
    width: 540px;
    height: 75px;
    padding-top: 46px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    color: #FFFFFF;   
}
.depreciation {
    position: relative;
    width: 1440px;
    height: 937px;
    background: #B09A81;
    background-image: url("../img/background-pattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;    
}
.second-part3 {
    position: absolute;
    width: 1110px;
    height: 203px;
    left: 165px;
    top: 634px;
    column-count: 2;
    column-gap: 30px;    
}
.depreciation-header-mini {
    position: absolute;
    width: 1110px;
    height: 26px;
    background: #FFFFFF;
    column-span: all;
}
.depreciation-head-info {
    position: absolute;
    margin: 0;
    width: 136px;
    height: 16px;
    left: 10px;
    top: 5px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #B09A81;
    column-span: all; 
}
.depreciation-info-text1 {
    margin: 0;
    width: 540px;
    height: 78px;
    padding-top: 46px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF; 
}
.depreciation-info-text2 {
    margin: 0;
    width: 540px;
    height: 156px;
    padding-top: 46px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    color: #FFFFFF;       
}
pre {
    display: inline;
    margin: 0;
}